body {  background-image: url("../images/login1.jpg");
    background-repeat: repeat-x;
}
.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}