.form-group.required .control-label:after {
    content: " *";
    color: red;
    font-weight: bold;
}

.loading {
    background: #15fff9 url('../images/processing.gif') no-repeat center 65%;
    height: 80px;
    width: 100px;
    position: fixed;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -50px;
    z-index: 2000;
    display: none;
}

.nav#sidebar > li > ul {
    margin-left: 25px;
}
.nav#sidebar > li > a {
    color: rgba(1, 2, 3, 0.97);
    padding: 7px;
}
.nav#sidebar > li > a:hover
{
    background-color: #fff7dd;
}
.nav#sidebar > li > a:focus
{
    background-color: #ffbf2b;
}
.nav#sidebar > li.active > a {
    text-decoration: none;
    background-color: #efe20b;
    border-radius: 0px;
}
body {  background-image: url("../images/cashier.jpg");
    background-repeat: round;

}
.picker__select--month, .picker__select--year {
    height: inherit;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
}